body{
    background: url("back.png");
}
.stdnt-button{
    margin: 0 auto;
    display: block;
    width: 200px;
}
.stdnt-form {
    height: 500px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(136, 178, 186, 0.66);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adding a slight shadow for depth */
}
.stdnt-card{
    height: auto;
    width: auto;
    background-color: rgba(255, 235, 205, 0.87);
}
.table{
    margin: 0 auto;
    height: 550px;
    width: 500px;
}
.form-error{
    background-color: rgba(255, 0, 0, 0.71);
}
.form-control{
    width: 200px;
    margin: 0 auto;
}
